*.class
*.log
*.sw?
.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Rust
# ----

# KDE specific
.directory

# Rust Cargo specific
**/Cargo.lock
target/
Rust/Chapter1/shell.nix
Rust/Chapter2/shell.nix
